#!/usr/bin/bash -e

replayfile="${1#*dosdevices/}"
replayfile="${replayfile//\//\\\\}"

env WINEPREFIX="@WINEPREFIX@" /usr/bin/wine C:\\windows\\command\\start.exe /Unix @WOWSPATH@/WorldOfWarships.exe "$replayfile"
