[Desktop Entry]
Type=Application
Name=World of Warships play replay
Exec=@LAUNCHER@ %f
MimeType=application/x-wine-wows-replay;
Path=@WOWSPATH@
Icon=F66B_WoWSLauncher.0
NoDisplay=true
StartupNotify=true
