<?xml version="1.0" encoding="utf-8"?>
<mime-info xmlns="http://www.freedesktop.org/standards/shared-mime-info">
	<mime-type type="application/x-wine-@ABBR@-replay">
		<glob pattern="*.@ABBR@replay"/>
		<comment>@NAME@ Replay File</comment>
		</mime-type>
</mime-info>

